@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

/*............................................Special Styles/Text*/

h1 {
	background-color: red;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 18px;
}
h2 {
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #1E90FF;
}
h3, h4 {
	font-family: 'Roboto', sans-serif;
	color: #1E90FF;
	text-align: center;
}
p {
	color: #61B1FF;
	font-size: 18px;
	font-family: 'Fjalla One', sans-serif;
}
.pure-button {
	color: red;
}
/*............................................Body*/

* {
	margin: 0;
	padding: 0;
}
/*............................................Heading*/

.nav {
	height: 50px;
	width: 100%;
	background-color: #000080;
	position: relative;
	letter-spacing: 2px;
}
.nav>.nav-header {
	display: inline;
}
.nav>.nav-header>.nav-title {
	display: inline-block;
	font-size: 22px;
	font-family: 'Abril Fatface', cursive;
	color: #fff;
	padding: 10px 10px 10px 10px;
}
.nav>.nav-btn {
	display: none;
}
.nav>.nav-links {
	display: inline;
	float: right;
	font-size: 18px;
	font-family: 'Abril Fatface', cursive;
}
.nav>.nav-links>a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #fff;
}
.nav>.nav-links>a:hover {
	background-color: #0000FF;
}
.nav>#nav-check {
	display: none;
}
/*.............................................Band Images*/

.border-box {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
/* Style the counter cards */

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/* this adds the "card" effect */
	padding: 16px;
	text-align: center;
	background-color: #D5E6E2;
}
/*.............................................Tours*/

li {
	list-style: none;
}
#wrapper {
	background-color: #D5E6E2;
	height: 100%;
}
.col-sm-3 {
	text-align: center;
}
.box {
	border-bottom: solid;
	border-color: white;
	border-bottom-width: 5px;
	padding: 2px;
	margin: 0px;
}
/*.............................................Store*/

#store {
	background-color: #D5E6E2;
}
.button {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin: auto;
}
/*.............................................Contact*/

/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
	width: 100%;
	/*Full width */
	padding: 12px;
	/* Some padding */
	border: 1px solid #ccc;
	/* Gray border */
	box-sizing: border-box;
	/* Make sure that padding and width stays in place */
	margin-top: 6px;
	/* Add a top margin */
	margin-bottom: 16px;
	/* Bottom margin */
	resize: vertical/* Allow the userto vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin: auto;
}
/* When moving the mouse over the submit button,add a darker green color */

input[type=submit]:hover {
	background-color: #45a049;
}
/* Add a background color and somepadding around the form */

.container {
	border-radius: 5px;
	background-color: #D5E6E2;
	padding: 20px;
}
/*.............................................Media Queries*/

@media (min-width: 601px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
	.img-desktop {
		width: 100%;
		height: 94.8vh;
	}
}
@media (max-width: 600px) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.img-mobile {
		width: 100%;
		height: 90vh;
	}
}
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}
/* Displays Navbar on screens 600px and above */

@media (max-width:600px) {
	.nav>.nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.nav>.nav-btn>label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}
	.nav>.nav-btn>label:hover {
		background-color: rgba(0, 0, 0, 0.3, 0.5);
		height: 25px;
	}
	.nav>.nav-btn>label>span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}
	.nav>.nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: rgb(0, 0, 128, 0.5);
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}
	.nav>.nav-links>a {
		display: block;
		width: 100%;
	}
	.nav>#nav-check:not(:checked)+.nav-links {
		height: 0px;
	}
	.nav>#nav-check:checked+.nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}









