@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');


.nav {
	height: 50px;
	width: 100%;
	background-color: #000080;
	position: relative;
	letter-spacing: 2px;
	font-family: 'Abril Fatface', cursive;
	}

.navbar-brand {
  	display: inline-block;
	font-size: 22px;
	font-family: 'Abril Fatface', cursive;
	color: #fff;
	padding: 10px 10px 10px 10px;
}

.navbar-nav {
	display: inline;
	float: right;
	font-size: 18px;
	font-family: 'Abril Fatface', cursive;
	margin: -50px;
	color: #fff;
}

.navbar-nav>.nav-item{
	display: inline;
	font-size: 18px;
	font-family: 'Abril Fatface', cursive;
	
}

.nav-item> a {
	margin: 0px;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #000;
}

.navbar-toggler {
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  font-size: $navbar-toggler-font-size;
  line-height: 1;
  background-color: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }







